@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --white-gray: #f5f5f5;
  --light-gray: lightgray;
  --aqua: #0ff;
  --light-blue: #007bff;
  --dark-blue: #0056b3;
  --gray: #6c757d;
  --white: #fff;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  background: linear-gradient(
    270deg,
    #ff8a00,
    #e52d27,
    #9b179e,
    #3f4d9f,
    #0b5394
  );
  background-size: 1000% 1000%;
  animation: gradientBackground 30s ease infinite;
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid var(--black);
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.logo-text {
  font-size: 2rem;
  font-weight: bold;
  color: var(--light-blue);
  text-shadow: 2px 2px var(--black);
}

nav {
  text-align: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-links li {
  display: inline;
  margin: 0 0.5rem;
}

.nav-links a {
  color: var(--black);
  text-decoration: none;
  margin-left: 2rem;
  transition: color 0.3s, font-weight 0.3s;
}

.nav-links a:hover {
  color: var(--light-blue);
  font-weight: 800;
  text-decoration: underline;
}

.movie-count {
  color: var(--light-blue);
  font-weight: bold;
  padding-left: 5px;
}

/* Home page */
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  border: 1px solid var(--black);
  position: relative;
}

.popcorn {
  position: absolute;
  font-size: 80px;
  animation: popcornFall linear infinite;
}

.popcorn:nth-child(1) {
  left: 10%;
  animation-duration: 90s;
}

.popcorn:nth-child(2) {
  left: 30%;
  animation-duration: 90s;
}

.popcorn:nth-child(3) {
  left: 50%;
  animation-duration: 90s;
}

.popcorn:nth-child(4) {
  left: 70%;
  animation-duration: 90s;
}

.popcorn:nth-child(5) {
  left: 90%;
  animation-duration: 90s;
}

@keyframes popcornFall {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(3000%);
  }
}

.container_card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.5s ease;
  perspective: 1000px;
}

.card-img {
  width: 100%;
  height: 30rem;
  object-fit: contain;
  border-radius: 4px;
  margin-bottom: 1rem;
  transition: all 0.8s;
}

.container_card:hover > .card-img {
  scale: 1.04;
  cursor: pointer;
}

.container_card:hover {
  transform: rotateY(0deg) rotateX(-3deg) scale(1.03);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.8);
}

.card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.card-text {
  flex-grow: 1;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--dark-blue);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transform: perspective(1000px) rotateX(25deg);
  transition: all 0.2s ease-in-out;
}

.card-text:hover {
  color: #000;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.likes-container {
  text-align: left;
}

.card-likes,
.likes-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem auto;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--dark-blue);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}

.card-likes:hover {
  color: var(--dark-blue);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

#heart {
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-right: 8px;
  fill: var(--dark-blue);
  transition: all 0.2s ease-in-out;
}

#heart:hover {
  fill: var(--dark-blue);
  transform: scale(2.1);
}

.card-comment {
  background-color: var(--light-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.8s;
  transform: translateY(0);
  position: relative;
  overflow: hidden;
}

.card-comment:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.8s;
}

.card-comment:hover {
  background-color: var(--dark-blue);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.card-comment:hover:before {
  opacity: 1;
}

/* popup section */
@keyframes changeBgColor {
  0% {
    background-color: #e2e2e2;
  }
  25% {
    background-color: #cdcdcd;
  }
  50% {
    background-color: #cecdcd;
  }
  75% {
    background-color: #ffffff;
  }
  100% {
    background-color: #cdcdcd;
  }
}

#commentPopup {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  gap: 2rem;
  width: 90%;
  height: 90%;
  border: 1px solid var(--gray);
  border-radius: 16px;
  overflow: auto;
  padding: 1rem;
  background-color: var(--white-gray);
  position: relative;
  transition: all 0.5s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.8);
  perspective: 1000px;
  animation: changeBgColor 10s linear infinite;
}

#commentPopup:hover {
  transform: rotateY(0deg) rotateX(-5deg) scale(1.03) translateY(-14px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.9);
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  height: 600px;
}

.commentImg {
  height: 80%;
  width: 80%;
  border-radius: 2rem;
  object-fit: contain;
  transition: transform 0.3s;
}

.commentImg:hover {
  transform: scale(1.05);
}

#commentTitle {
  font-size: 2rem;
  text-align: center;
  color: #07c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

#commentDetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 1rem;
  padding: 0 4rem;
}

#commentDetails p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
}

#commentSection {
  width: 90%;
  margin: auto;
}

.comment-text {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 600;
  color: #333;
  text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.1);
}

#commentCounter {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 0.4rem;
  color: #07c;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
  font-weight: 900;
  cursor: pointer;
  transition: color 0.3s;
}

.close-btn:hover {
  color: #07c;
}

.seePopup {
  display: none;
  transition: all 0.5s ease;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.act {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

form {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 1rem;
  margin: 2rem auto;
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form input,
form textarea {
  font-size: 1.3rem;
  padding: 0.5rem;
  border: 1px solid var(--gray);
  border-radius: 4px;
  outline: none;
  transition: all 0.3s;
}

form input:focus,
form textarea:focus {
  border: 1px solid #07c;
  box-shadow: 0 0 5px rgba(7, 135, 204, 0.3);
}

#comment {
  height: 5rem;
  resize: none;
}

#commentCount {
  color: #07c;
}

.comment-btn {
  background-color: var(--light-blue);
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
  transform: translateY(0);
  position: relative;
  overflow: hidden;
}

.comment-btn:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.15);
  opacity: 0;
  transition: opacity 0.3s;
}

.comment-btn:hover {
  background-color: var(--dark-blue);
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.comment-btn:hover:before {
  opacity: 1;
}

.notification {
  position: fixed;
  top: 30px;
  right: 20px;
  padding: 15px 25px;
  background-color: var(--light-blue);
  color: var(--white);
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  opacity: 0;
  transform: translateY(-50%);
  transition: all 0.3s ease-in-out;
  z-index: 1000;
}

.notification.show {
  opacity: 0.9;
  transform: translateY(0);
}

footer {
  height: 6vh;
  border: 1px solid var(--black);
  display: flex;
  align-items: center;
}

.footerP {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  header {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-links {
    justify-content: flex-start;
  }

  .popcorn:nth-child(1) {
    display: none;
  }

  .popcorn:nth-child(2) {
    display: none;
  }

  .popcorn:nth-child(3) {
    left: 50%;
    animation-duration: 90s;
  }

  .popcorn:nth-child(4) {
    left: 70%;
    animation-duration: 90s;
  }

  .popcorn:nth-child(5) {
    display: none;
  }
}
